/* Begining of Custom css */
div.lstlisting {
	background-color: #cccccc;
	padding: 1em;
}
div.verbatim {
	background-color: #cccccc;
	padding: 1em;
}
hr.figure {
	visibility: hidden;
}
hr.endfigure {
	visibility: hidden;
}
/* End of Custom css */
