# Ignore built directories.
_build/

# Ignore deploy directory.
_site/

# Ignore build files.
*.aux
*.log

# Ignore IDE files.
.vscode

# Ignore macOS files.
.DS_STORE

# Ignore virutal environments
venv/
env/
tmp/

# Ignore bytecode cached from the Sphinx extensions in _ext/.
__pycache__/
