/* Begining of Custom css */
div.lstlisting {
	background-color: #cccccc;
	padding: 1em;
}
div.verbatim {
	background-color: #cccccc;
	padding: 1em;
}
dl {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
/* Enable paragraph ToC indenting. */
.paragraphToc, .likeparagraphToc {
  margin-left:6em;
}
/* End of Custom css */
